.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-section *:not(:last-child) {
  margin-bottom: 2vh;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2vw;
  text-align: center;
}

@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}

.services-item .bi {
  font-size: 64px;
}
